.app,
.main-content {
	position: relative;
	width: 100%;
	height: 100vh;
}

.app {
	display: flex;
	overflow: hidden;
	background-color: #0a0a0a;
}

.main-content {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-left: 0;
	transition: margin-left 0.3s ease;

	&.sidebar-open {
		margin-left: 280px;
	}
}

.shader-container {
	position: relative;
	width: 100%;
	height: 100%;
	flex: 1;
	min-height: 0;
}

.shader-viewer {
	width: 100%;
	height: 100%;
	position: relative;

	canvas {
		/* Canvas size is set in JavaScript */
		/* CSS width/height will be set dynamically to match the calculated size */
		touch-action: none;
		cursor: crosshair;
		display: block;
		/* Default to filling container when not in square mode */
		width: 100%;
		height: 100%;
	}

	&.square-aspect {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 1.2rem;
}
